APP_PORT=3001
JWT_SECRET=replace_me
JWT_EXPIRES_IN=8h
WEBHOOK_SHARED_SECRET=replace_me
SYSTEM_USER_ID=1

ORACLE_USER=ADMIN
ORACLE_PASSWORD=replace_me
ORACLE_CONNECT_STRING=adb.eu-frankfurt-1.oraclecloud.com:1522/xxxx_high.adb.oraclecloud.com
ORACLE_POOL_MIN=1
ORACLE_POOL_MAX=8
ORACLE_POOL_INCREMENT=1

OCI_TENANCY_OCID=ocid1.tenancy.oc1...
OCI_USER_OCID=ocid1.user.oc1...
OCI_FINGERPRINT=12:34:56:78
OCI_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----"
OCI_REGION=eu-frankfurt-1
OCI_OBJECT_NAMESPACE=your_namespace
OCI_BUCKET_NAME=wlacz-wizje-docs
